@model IEnumerable<Group41_Wired_Martians.Models.Inventory>

@{
    ViewData["Title"] = "Inventory List-";
    Layout = "~/Views/Shared/_StockLiason.cshtml";
}

<div class="card mb-3" id="card-Universal">
    <div class="card-body">
        <div class="head-title d-flex justify-content-between align-items-center">
            <div class="left">
                <h1>Product Iventory List</h1>
            </div>
            <div>
                <a asp-action="Create" class="btn btn-primary"><ion-icon name="add-outline"></ion-icon>New Inventory</a>
            </div>
        </div>
    </div>
</div>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Category</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">

        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="~/images/pdf.png" /></label>
                <label for="export-file" id="toJSON">JSON <img src="~/images/export.png" /></label>
                <label for="export-file" id="toCSV">CSV <img src="~/images/csv.png" /></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="~/images/excel.png" /></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Stock Quantity</th>
                    <th>Damaged</th>
                    <th>Availability</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product?.ProductName</td>
                        <td>@item.Brand</td>
                        <td>@item.StockQuantity</td>
                        <td>@item.Damaged</td>
                        <td>@item.Availability</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-info view-details-btn no-a-decoration" data-id="@item.InventoryID" data-toggle="modal" data-target="#inventoryDetailsModal">
                                <ion-icon name="eye-outline"></ion-icon>
                            </button>
                            <a href="@Url.Action("Create", "Inventory", new { id = item.InventoryID })" class="btn btn-sm btn-outline-primary no-a-decoration">
                                <ion-icon name="pencil-outline"></ion-icon>
                            </a>

                            <button type="button" class="btn btn-sm btn-outline-danger no-a-decoration" onclick="confirmDeletion('@item.InventoryID', '@item.Product?.ProductName')">
                                <ion-icon name="trash-outline"></ion-icon> 
                            </button>
                            <form id="deleteForm-@item.InventoryID" asp-action="Delete" asp-route-inventoryId="@item.InventoryID" method="post" style="display: none;">
                                <input type="hidden" name="id" value="@item.InventoryID" />
                            </form>
                        
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </section>
</main>

@foreach (var Model in Model)
{
    <div class="modal fade" id="inventoryDetailsModal" tabindex="-1" aria-labelledby="inventoryDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="box-title mt-5">General Info</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td width="390">Product Name</td>
                                        <td>@Model?.Product?.ProductName</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>@Model?.Location </td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>@Model?.Brand </td>
                                    </tr>
                                    <tr>
                                        <td>Stock Quantity</td>
                                        <td>@Model?.StockQuantity</td>
                                    </tr>
                                    <tr>
                                        <td>Damaged</td>
                                        <td>@Model?.Damaged </td>
                                    </tr>
                                    <tr>
                                        <td>Availability</td>
                                        <td>@Model?.Availability </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <dl class="row">
                        <h2 class="box-title mt-5">Product Colors</h2>
                        <dd class="col-sm-12">
                            <table class="table">
                          
                                <tbody>
                                    
                                    @if (Model?.ProductColors != null)
                                    {
                                        foreach (var color in Model.ProductColors)
                                        {
                                            <tr>
                                                <td>Color</td>
                                                <td>@color.ColorName </td>
                                                <td>@color.Qty</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2">No colors available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    <script>
        function confirmDeletion(inventoryId, productName) {
            Swal.fire({
                title: 'Are you sure?',
               html: `Do you want to delete the inventory item for <strong class="text-danger">${productName}</strong>?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
        
                    document.getElementById(`deleteForm-${inventoryId}`).submit();
                }
            });
        }
    </script>
}



